doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    // Метатеги для SEO
    meta(name='description' content='Описание сайта Шоурумы | Prime Wood')
    meta(name='keywords' content='Шоурумы')
    meta(name='author' content='Шоурумы | Prime Wood')
    meta(name='robots' content='index, follow')
    // Метатеги для социальных сетей
    meta(property='og:title' content='Шоурумы | Prime Wood')
    meta(property='og:description' content='Описание сайта Шоурумы | Prime Wood')
    meta(property='og:image' content='URL_TO_IMAGE')
    meta(property='og:url' content='URL_TO_SITE')
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:title' content='Шоурумы | Prime Wood')
    meta(name='twitter:description' content='Описание сайта Шоурумы | Prime Wood')
    meta(name='twitter:image' content='URL_TO_IMAGE')

    meta(name='google-site-verification' content='YOUR_GOOGLE_SITE_VERIFICATION_CODE')
    meta(name='yandex-verification' content='YOUR_YANDEX_VERIFICATION_CODE')
    script(src='https://api-maps.yandex.ru/2.1/?apikey=2ac0f895-95d9-4309-b7a3-1bdbc3d40433&lang=ru_RU')

    title Шоурумы | Prime Wood
    link(rel="stylesheet", href="static/css/vendor.min.css")
    link(rel="stylesheet", href="static/css/main.min.css")
  
  body
    label#check(for="checker") Наложить макет
    input#checker(type="checkbox")
    .check

    // Шапка сайта
    header.header
      .container
        .header__wrapper.flex.align-center.justify-between
          a.header__logo(href="/")
            img.header__logo--desktop(src="static/images/logo.svg" alt="Prime Wood")
            img.header__logo--mobile(src="static/images/logo-mobile.svg" alt="Prime Wood")
          nav.header__nav
            ul.header__menu.flex.align-center
              li.header__menu-item
                a.header__menu-link(href="/catalog") Каталог
              li.header__menu-item
                a.header__menu-link(href="/services") Услуги и сервисы
              li.header__menu-item
                a.header__menu-link(href="/about") О компании

          
          .header__right.flex.align-center
            .header__contacts
              a.header__phone(href="tel:+74953053591") +7 (495) 120-53-91
            
            .header__actions.flex.align-center
              a.header__smart(href="#")
                span.icon.icon-smart
              a.header__search(href="#")
                span.icon.icon-search
              a.header__profile(href="#")
                span.icon.icon-user
              a.header__basket(href="#")
                span.icon.icon-basket
                span.header__cart-count 44
              a.header__mobile-menu(href="#")
                span.icon.icon-mobile-menu
    
    // Хлебные крошки
    .breadcrumbs
      .container
        ul.breadcrumbs__list.flex.align-center.list-reset
          li.breadcrumbs__item
            a.breadcrumbs__link(href="/") Главная
          li.breadcrumbs__item
            a.breadcrumbs__link(href="/showrooms") О компании
          li.breadcrumbs__item
            a.breadcrumbs__link(href="/showrooms") Наши проекты
          li.breadcrumbs__item
            span.breadcrumbs__current СИЭНПИ РУС
    
    // Основной контент
    main.main
      // Секция с заголовком и описанием
      section.intro
        .intro__wrapper
          .container
            .intro__row.flex.align-center
              article.intro__article
                h1.intro__title Шоурумы
                p.intro__text Приглашаем Вас посмотреть вживую коллекции офисной мебели для персонала, кабинеты для руководителя, офисные диваны, офисные кресла и стулья, а также обсудить эргономику вашего офисного пространства в наших шоурумах
              .intro__map
                #map

              script.
                ymaps.ready(function () {
                  var myMap = new ymaps.Map("map", {
                    center: [55.652004, 37.617734],
                    zoom: 10,
                    controls: ["zoomControl"],
                  });

                  MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                    '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
                  ),
                  myMap.behaviors.disable("scrollZoom");

                  function checkWindowSize() {
                    if (window.innerWidth < 1200) {
                      myMap.behaviors.disable("drag");
                      // Также отключаем мультитач
                      myMap.behaviors.disable("multiTouch");
                    } else {
                      myMap.behaviors.enable("drag");
                      myMap.behaviors.enable("multiTouch");
                    }
                  }

                  checkWindowSize();

                  window.addEventListener("resize", checkWindowSize);
                  PW1 = new ymaps.Placemark([55.713671, 37.672744], {
                      hintContent: 'Офис и шоурум Автозаводская',
                      balloonContent: 'г. Москва, 1-я улица Машиностроения, 10<br>Работаем пн-пт с 8:00 до 20:00',
                      iconContent: ''
                  }, {
                      // Опции.
                      // Необходимо указать данный тип макета.
                      iconLayout: 'default#imageWithContent',
                      // Своё изображение иконки метки.
                      iconImageHref: 'static/images/marker-new.png',
                      // Размеры метки.
                      iconImageSize: [48, 48],
                      // Смещение левого верхнего угла иконки относительно
                      // её "ножки" (точки привязки).
                      iconImageOffset: [-24, -24],
                      // Смещение слоя с содержимым относительно слоя с картинкой.
                      //iconContentOffset: [15, 15],
                      // Макет содержимого.
                      iconContentLayout: MyIconContentLayout
                  });
              
                  PW2 = new ymaps.Placemark([55.748179, 37.540245], {
                      hintContent: 'Офис и шоурум Москва-Сити',
                      balloonContent: 'г. Москва, Пресненская набережная, 6с2, <br>Башня Империя, 50 этаж<br>Работаем пн-пт с 9:00 до 19:00',
                      iconContent: ''
                  }, {
                      // Опции.
                      // Необходимо указать данный тип макета.
                      iconLayout: 'default#imageWithContent',
                      // Своё изображение иконки метки.
                      iconImageHref: 'static/images/marker-new.png',
                      // Размеры метки.
                      iconImageSize: [48, 48],
                      iconImageOffset: [-24, -24],
                      // Макет содержимого.
                      iconContentLayout: MyIconContentLayout
                  });
                  
                  PW3 = new ymaps.Placemark([55.526740, 37.754197], {
                      hintContent: 'Склад самовывоза в Москве',
                      balloonContent: 'Московская область, Каширское шоссе, 31-й километр, 241, <br>Работаем пн-пт с 9:30 до 18:30',
                      iconContent: ''
                  }, {
                      // Опции.
                      // Необходимо указать данный тип макета.
                      iconLayout: 'default#imageWithContent',
                      // Своё изображение иконки метки.
                      iconImageHref: 'static/images/marker-new.png',
                      // Размеры метки.
                      iconImageSize: [48, 48],
                      iconImageOffset: [-24, -24],
                      // Макет содержимого.
                      iconContentLayout: MyIconContentLayout
                  });
                  
                  PW4 = new ymaps.Placemark([55.710100, 37.655770], {
                      hintContent: 'Шоурум в ТЦ ROOMER',
                      balloonContent: 'г. Москва, ул. Ленинская Слобода, 26, <br>Работаем пн-вс с 9:00 до 20:00',
                      iconContent: ''
                  }, {
                      // Опции.
                      // Необходимо указать данный тип макета.
                      iconLayout: 'default#imageWithContent',
                      // Своё изображение иконки метки.
                      iconImageHref: 'static/images/marker-new.png',
                      // Размеры метки.
                      iconImageSize: [48, 48],
                      iconImageOffset: [-24, -24],
                      // Макет содержимого.
                      iconContentLayout: MyIconContentLayout
                  });
              
                  myMap.geoObjects.add(PW1).add(PW2).add(PW3).add(PW4);;
                });
      
      // Секция шоурума Автозаводская
      section.showroom
        .showroom__wrapper
          .container
            article.showroom-card
              h2.showroom-card__title Шоурум Автозаводская

              .showroom-card__row.flex
                .showroom-card__info
                  p.showroom-card__address 
                    span Адрес: 
                    | г. Москва, 1-я улица улица Машиностроения, 10 
                  p.showroom-card__phone 
                    span Телефон: 
                    a(href="tel:+74959783104") +7 (495) 374-93-04
                  p.showroom-card__hours 
                    span Время работы: 
                    | пн-пт с 8:00 до 20:00
                  a.showroom-card__map-link(href="#map") Посмотреть на карте                
                .showroom-card__collections
                  h3.showroom-card__subtitle Представлены коллекции:
                  ul.showroom-card__list.list-reset
                    li.showroom-card__item 
                      a(href="/") Мебель для руководителя
                    li.showroom-card__item 
                      a(href="/") Офисные кресла
                    li.showroom-card__item 
                      a(href="/") Офисные шкафы и стулья
                    li.showroom-card__item 
                      a(href="/") Офисные диваны
                    li.showroom-card__item 
                      a(href="/") Сопутствующие товары
              
              .showroom-card__gallery.flex.align-center
                figure.showroom-card__gallery-item
                  a.showroom-card__gallery-link(data-fancybox, data-src='static/images/showroom-auto-1.png')
                    img.showroom-card__image(src="static/images/showroom-auto-1.png" alt="Шоурум Автозаводская - интерьер")
                figure.showroom-card__gallery-item
                  a.showroom-card__gallery-link(data-fancybox, data-src='static/images/showroom-auto-2.png')
                    img.showroom-card__image(src="static/images/showroom-auto-2.png" alt="Шоурум Автозаводская - интерьер")
                figure.showroom-card__gallery-item
                  a.showroom-card__gallery-link(data-fancybox, data-src='static/images/showroom-auto-3.png')
                    img.showroom-card__image(src="static/images/showroom-auto-3.png" alt="Шоурум Автозаводская - интерьер")
                figure.showroom-card__gallery-item
                  a.showroom-card__gallery-link(data-fancybox, data-src='static/images/showroom-auto-4.png')
                    img.showroom-card__image(src="static/images/showroom-auto-4.png" alt="Шоурум Автозаводская - интерьер")

              .showroom-card__action
                a.button.button--primary(href="#appointment") Записаться в шоурум
      .divider
      // Секция шоурума Москва СИТИ
      section.showroom
        .showroom__wrapper
          .container
            article.showroom-card
              h2.showroom-card__title Шоурум Москва СИТИ

              .showroom-card__row.flex
                .showroom-card__info
                  p.showroom-card__address Адрес: г. Москва, Пресненская набережная, 6с2, башня Империя, 30 этаж
                  p.showroom-card__phone Телефон: 
                    a(href="tel:+74997037838") +7 (499) 703-78-38
                  p.showroom-card__hours Время работы: с 9:00 до 18:00
                  
                  a.showroom-card__map-link(href="#") Посмотреть на карте
                
                .showroom-card__collections
                  h3.showroom-card__subtitle Представлены коллекции:
                  ul.showroom-card__list.list-reset
                    li.showroom-card__item 
                      a(href="/") Мебель для руководителя
                    li.showroom-card__item 
                      a(href="/") Офисные кресла
                    li.showroom-card__item 
                      a(href="/") Офисные шкафы и стулья
                    li.showroom-card__item 
                      a(href="/") Офисные диваны
                    li.showroom-card__item 
                      a(href="/") Сопутствующие товары
              
              .showroom-card__gallery.flex.align-center
                figure.showroom-card__gallery-item
                  a.showroom-card__gallery-link(data-fancybox, data-src='static/images/showroom-auto-1.png')
                    img.showroom-card__image(src="static/images/showroom-auto-1.png" alt="Шоурум Автозаводская - интерьер")
                figure.showroom-card__gallery-item
                  a.showroom-card__gallery-link(data-fancybox, data-src='static/images/showroom-auto-2.png')
                    img.showroom-card__image(src="static/images/showroom-auto-2.png" alt="Шоурум Автозаводская - интерьер")
                figure.showroom-card__gallery-item
                  a.showroom-card__gallery-link(data-fancybox, data-src='static/images/showroom-auto-3.png')
                    img.showroom-card__image(src="static/images/showroom-auto-3.png" alt="Шоурум Автозаводская - интерьер")
                figure.showroom-card__gallery-item
                  a.showroom-card__gallery-link(data-fancybox, data-src='static/images/showroom-auto-4.png')
                    img.showroom-card__image(src="static/images/showroom-auto-4.png" alt="Шоурум Автозаводская - интерьер")
              
              .showroom-card__action
                a.button.button--primary(href="#appointment") Записаться в шоурум
      .divider
      // Секция шоурума в ТЦ ROOMER
      section.showroom
        .showroom__wrapper
          .container
            article.showroom-card
              h2.showroom-card__title 
                | Шоурум в ТЦ ROOMER 
                span.showroom-card__tag Скоро открытие

              .showroom-card__row.flex       
                .showroom-card__info
                  p.showroom-card__address Адрес: г. Москва, ул. Ленинская Слобода, д.26
                  p.showroom-card__phone Телефон: 
                    a(href="tel:+74952767387") +7 (495) 276-73-87
                  p.showroom-card__hours Время работы: с 9:00 до 20:00                  
                  a.showroom-card__map-link(href="#") Посмотреть на карте
                
                .showroom-card__collections
                  h3.showroom-card__subtitle Представлены коллекции:
                  ul.showroom-card__list.list-reset
                    li.showroom-card__item 
                      a(href="/") Мебель для руководителя
                    li.showroom-card__item 
                      a(href="/") Офисные кресла
                    li.showroom-card__item 
                      a(href="/") Офисные шкафы и стулья
                    li.showroom-card__item 
                      a(href="/") Офисные диваны
                    li.showroom-card__item 
                      a(href="/") Сопутствующие товары
                
              .showroom-card__gallery.flex.align-center
                figure.showroom-card__gallery-item
                  a.showroom-card__gallery-link(data-fancybox, data-src='static/images/showroom-auto-1.png')
                    img.showroom-card__image(src="static/images/showroom-auto-1.png" alt="Шоурум Автозаводская - интерьер")
                figure.showroom-card__gallery-item
                  a.showroom-card__gallery-link(data-fancybox, data-src='static/images/showroom-auto-2.png')
                    img.showroom-card__image(src="static/images/showroom-auto-2.png" alt="Шоурум Автозаводская - интерьер")
                figure.showroom-card__gallery-item
                  a.showroom-card__gallery-link(data-fancybox, data-src='static/images/showroom-auto-3.png')
                    img.showroom-card__image(src="static/images/showroom-auto-3.png" alt="Шоурум Автозаводская - интерьер")
                figure.showroom-card__gallery-item
                  a.showroom-card__gallery-link(data-fancybox, data-src='static/images/showroom-auto-4.png')
                    img.showroom-card__image(src="static/images/showroom-auto-4.png" alt="Шоурум Автозаводская - интерьер")
              
              .showroom-card__action
                a.button.button--primary(href="#appointment") Записаться в шоурум
      
      // Секция с преимуществами
      section.advantages
        .advantages__wrapper
          .container
            ul.advantages__list.flex.align-center.justify-center.list-reset
              li.advantages__item
                .advantages__icon
                  img(src="static/images/advantages-1.svg" alt="")
                p.advantages__title Работаем 24/7
              
              li.advantages__item
                .advantages__icon
                  img(src="static/images/advantages-2.svg" alt="")
                p.advantages__title 3-D визуал пространства
              
              li.advantages__item
                .advantages__icon
                  img(src="static/images/advantages-3.svg" alt="")
                p.advantages__title Подборка офисной мебели
              
              li.advantages__item
                .advantages__icon
                  img(src="static/images/advantages-4.svg" alt="")
                p.advantages__title Быстрая доставка
              
              li.advantages__item
                .advantages__icon
                  img(src="static/images/advantages-5.svg" alt="")
                p.advantages__title Аккуратная сборка
              
              li.advantages__item
                .advantages__icon
                  img(src="static/images/advantages-6.svg" alt="")
                p.advantages__title Декорирование
      
      // Секция с формой записи
      section.appointment#appointment
        .appointment__wrapper
          .container
            article.appointment-form
              h2.appointment-form__title Записаться в шоурум              
              form.appointment-form__form(action="#" method="POST")
                .appointment-form__field
                  input.appointment-form__input(type="text" name="name" placeholder="Имя*" required)

                .appointment-form__field
                  input.appointment-form__input(type="tel" name="phone" placeholder="+7 (999) 999-99-99" id="phone" required)
                
                .appointment-form__field
                  input.appointment-form__input(type="email" name="email" placeholder="Электронная почта")
                
                .appointment-form__action
                  button.button.button--primary(type="submit") Отправить
                
                p.appointment-form__policy Нажимая на кнопку, вы подтверждаете свое согласие на обработку персональных данных.
    
    // Подвал сайта
    footer.footer
      .container
        .footer__wrapper
          .footer__columns.flex
            .footer__column
              h3.footer__title Каталог
              ul.footer__menu.list-reset
                li.footer__menu-item
                  a.footer__menu-link(href="#") Мебель для персонала
                li.footer__menu-item
                  a.footer__menu-link(href="#") Кабинеты руководителей
                li.footer__menu-item
                  a.footer__menu-link(href="#") Кресла и стулья
                li.footer__menu-item
                  a.footer__menu-link(href="#") Переговорные столы
                li.footer__menu-item
                  a.footer__menu-link(href="#") Офисные диваны
                li.footer__menu-item
                  a.footer__menu-link(href="#") Домашний офис
                li.footer__menu-item
                  a.footer__menu-link(href="#") Ресепшены
                li.footer__menu-item
                  a.footer__menu-link(href="#") Металлическая мебель
                li.footer__menu-item
                  a.footer__menu-link(href="#") Весь каталог
                  span.icon-arrow
            
            .footer__column
              h3.footer__title Услуги и сервисы
              ul.footer__menu.footer__menu--large.list-reset
                li.footer__menu-item
                  a.footer__menu-link(href="#") Дизайн-проект офиса
                li.footer__menu-item
                  a.footer__menu-link(href="#") Мебель на заказ
                li.footer__menu-item
                  a.footer__menu-link(href="#") Для гос.структур
                li.footer__menu-item
                  a.footer__menu-link(href="#") Тест драйв мебели
                li.footer__menu-item
                  a.footer__menu-link(href="#") Презентационное оборудование
                li.footer__menu-item
                  a.footer__menu-link(href="#") Реконфигурация офиса
                li.footer__menu-item
                  a.footer__menu-link(href="#") Проектный менеджмент
                li.footer__menu-item
                  a.footer__menu-link(href="#") Дизайнерам и архитекторам
                li.footer__menu-item
                  a.footer__menu-link(href="#") Дистрибьюция
                li.footer__menu-item
                  a.footer__menu-link(href="#") Доставка и сборка
                li.footer__menu-item
                  a.footer__menu-link(href="#") Проектный менеджмент
                li.footer__menu-item
                  a.footer__menu-link(href="#") Премиум из Китая
                li.footer__menu-item
                  a.footer__menu-link(href="#") Офисное оборудование
                li.footer__menu-item
                  a.footer__menu-link(href="#") Trade in старой мебели
                li.footer__menu-item
                  a.footer__menu-link(href="#") Релокация офиса
                li.footer__menu-item
                  a.footer__menu-link(href="#") Европейские фабрики
                li.footer__menu-item
                  a.footer__menu-link(href="#") Брокерам, риелторам, застройщикам
                li.footer__menu-item
                  a.footer__menu-link(href="#") Архитектурное бюро
            
            .footer__column
              h3.footer__title О компании
              ul.footer__menu.list-reset
                li.footer__menu-item
                  a.footer__menu-link(href="#") О нас
                li.footer__menu-item
                  a.footer__menu-link(href="#") Наша команда
                li.footer__menu-item
                  a.footer__menu-link(href="#") Наши проекты
                li.footer__menu-item
                  a.footer__menu-link(href="#") Новости
                li.footer__menu-item
                  a.footer__menu-link(href="#") Отзывы
                li.footer__menu-item
                  a.footer__menu-link(href="#") Партерам
                li.footer__menu-item
                  a.footer__menu-link(href="#") Шоурумы
                li.footer__menu-item
                  a.footer__menu-link(href="#") Контакты
            
            .footer__column
              h3.footer__title Ваш город
              .footer__city
                span.icon.icon-location
                span.footer__city-name Москва
              
              h3.footer__title.footer__title--contacts Контакты
              .footer__contacts
                a.footer__phone(href="tel:+74953053591") 
                  span.icon.icon-phone
                  | +7 (495) 120-53-91
                a.footer__email(href="mailto:info@prime-wood.ru") 
                  span.icon.icon-email
                  | info@prime-wood.ru
                a.footer__whatsapp(href="https://wa.me/74953053591") 
                  span.icon.icon-whatsapp
                  | Написать в WatsApp
              
              .footer__social
                h3.footer__title Подписывайтесь
                .footer__social-links
                  a.footer__social-link.footer__social-link--fb(href="#" target="_blank" rel="noopener noreferrer")
                    span.icon.icon-telegram
                  a.footer__social-link.footer__social-link--vk(href="#" target="_blank" rel="noopener noreferrer")
                    span.icon.icon-vk
                  a.footer__social-link.footer__social-link--in(href="#" target="_blank" rel="noopener noreferrer")
                    span.icon.icon-dzen
              

        
        .footer__bottom
          .flex.align-center.justify-between
            .footer__row-col
              p.footer__copyright © 2004-2024 Компания «Prime Wood» - офисная мебель в Москве
              p.footer__rights Все права защищены, информация является собственностью Prime Wood, не является публичной офертой.
            .footer__row-col
              .footer__rating
                span.icon.icon-yandex
                span.footer__rating-score 5.0
                .footer__rating-stars
                  span.icon.icon-star
                  span.icon.icon-star
                  span.icon.icon-star
                  span.icon.icon-star
                  span.icon.icon-star
                p.footer__rating-text Рейтинг организации на Яндексе
          p.footer__policy Вы соглашаетесь с условиями политики в отношении обработки персональных данных и пользовательского соглашения (смайлик чел, который надел очки и читает) при любой форме обращения на сайте.
    script(src="static/js/vendor.min.js")
    script(src="static/js/main.min.js")
