#check {
  position: fixed;
  display: block;
  top: 0;
  left: -140px;
  z-index: 1001;
  background-color: red;
  color: #fff;
  cursor: pointer;
  padding: 0 16px;
  transition: left .3s;
}

#check:hover {
  left: 0;
}

#checker{
  display: none;
}

#checker:checked+.check {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4000px;
  background-image: url(../images/maket-mobile.png);
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 1000;
  opacity: 0.5;
}
@media(min-width: 576px) {
  #checker:checked+.check {
    background-image: url(../images/maket-sm.png);
  }
}
@media(min-width: 768px) {
  #checker:checked+.check {
    background-image: url(../images/maket-md.png);
  }
}

@media(min-width: 1024px) {
  #checker:checked+.check {
    background-image: url(../images/maket.png);
  }
}

/* Settings */

:root{
  --container-width: 90rem;
  --size-base: 16px;
  --color-light: #fff;
  --color-text: #282828;
  --color-gray: #838B8E;
  --color-divider: #838B8E;
  --color-accent: #55D287;
  --color-accent-hover: #3ce680;
  --color-secondary: #EEB83B;
  --button-color: #fff;
  --button-radius: 16px;
  --card-background: #F6F7F8;
  --form-background: #EAECEE;
}

/* icons */

.icon{
  display: inline-flex;
  background-repeat: no-repeat;
  background-position: center center;  
  background-size: contain;
}

.icon-smart{
  width: 18px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 1.75C2.30964 1.75 1.75 2.30964 1.75 3V17C1.75 17.6904 2.30964 18.25 3 18.25H4C4.41421 18.25 4.75 18.5858 4.75 19C4.75 19.4142 4.41421 19.75 4 19.75H3C1.48122 19.75 0.25 18.5188 0.25 17V3C0.25 1.48122 1.48122 0.25 3 0.25H11C12.5188 0.25 13.75 1.48122 13.75 3V8C13.75 8.41421 13.4142 8.75 13 8.75C12.5858 8.75 12.25 8.41421 12.25 8V3C12.25 2.30964 11.6904 1.75 11 1.75H3Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 0.25C4.91421 0.25 5.25 0.585786 5.25 1V2.75H8.75V1C8.75 0.585786 9.08579 0.25 9.5 0.25C9.91421 0.25 10.25 0.585786 10.25 1V3C10.25 3.69036 9.69036 4.25 9 4.25H5C4.30964 4.25 3.75 3.69036 3.75 3V1C3.75 0.585786 4.08579 0.25 4.5 0.25Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.25 13C6.25 11.4812 7.48122 10.25 9 10.25H15C16.5188 10.25 17.75 11.4812 17.75 13V17C17.75 18.5188 16.5188 19.75 15 19.75H9C7.48122 19.75 6.25 18.5188 6.25 17V13ZM9 11.75C8.30964 11.75 7.75 12.3096 7.75 13V17C7.75 17.6904 8.30964 18.25 9 18.25H15C15.6904 18.25 16.25 17.6904 16.25 17V13C16.25 12.3096 15.6904 11.75 15 11.75H9Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.09263 13.6618C9.27941 13.2921 9.73054 13.1438 10.1003 13.3306L11.8425 14.2108C11.9495 14.2631 12.0746 14.2631 12.1816 14.2108L13.9238 13.3306C14.2935 13.1438 14.7447 13.2921 14.9315 13.6618C15.1182 14.0315 14.97 14.4826 14.6003 14.6694L12.8494 15.554C12.3218 15.8154 11.7024 15.8153 11.1748 15.554L11.1695 15.5514L9.42385 14.6694C9.05414 14.4826 8.90585 14.0315 9.09263 13.6618Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 1.75C2.30964 1.75 1.75 2.30964 1.75 3V17C1.75 17.6904 2.30964 18.25 3 18.25H4C4.41421 18.25 4.75 18.5858 4.75 19C4.75 19.4142 4.41421 19.75 4 19.75H3C1.48122 19.75 0.25 18.5188 0.25 17V3C0.25 1.48122 1.48122 0.25 3 0.25H11C12.5188 0.25 13.75 1.48122 13.75 3V8C13.75 8.41421 13.4142 8.75 13 8.75C12.5858 8.75 12.25 8.41421 12.25 8V3C12.25 2.30964 11.6904 1.75 11 1.75H3Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 0.25C4.91421 0.25 5.25 0.585786 5.25 1V2.75H8.75V1C8.75 0.585786 9.08579 0.25 9.5 0.25C9.91421 0.25 10.25 0.585786 10.25 1V3C10.25 3.69036 9.69036 4.25 9 4.25H5C4.30964 4.25 3.75 3.69036 3.75 3V1C3.75 0.585786 4.08579 0.25 4.5 0.25Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.25 13C6.25 11.4812 7.48122 10.25 9 10.25H15C16.5188 10.25 17.75 11.4812 17.75 13V17C17.75 18.5188 16.5188 19.75 15 19.75H9C7.48122 19.75 6.25 18.5188 6.25 17V13ZM9 11.75C8.30964 11.75 7.75 12.3096 7.75 13V17C7.75 17.6904 8.30964 18.25 9 18.25H15C15.6904 18.25 16.25 17.6904 16.25 17V13C16.25 12.3096 15.6904 11.75 15 11.75H9Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.09263 13.6618C9.27941 13.2921 9.73054 13.1438 10.1003 13.3306L11.8425 14.2108C11.9495 14.2631 12.0746 14.2631 12.1816 14.2108L13.9238 13.3306C14.2935 13.1438 14.7447 13.2921 14.9315 13.6618C15.1182 14.0315 14.97 14.4826 14.6003 14.6694L12.8494 15.554C12.3218 15.8154 11.7024 15.8153 11.1748 15.554L11.1695 15.5514L9.42385 14.6694C9.05414 14.4826 8.90585 14.0315 9.09263 13.6618Z' fill='%23282828'/%3E%3C/svg%3E%0A");
}

.icon-search {
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.05852 1.74667C4.57253 1.74667 1.74658 4.57263 1.74658 8.05861C1.74658 11.5446 4.57253 14.3706 8.05852 14.3706C11.5445 14.3706 14.3705 11.5446 14.3705 8.05861C14.3705 4.57263 11.5445 1.74667 8.05852 1.74667ZM0.246582 8.05861C0.246582 3.7442 3.74411 0.246674 8.05852 0.246674C12.3729 0.246674 15.8705 3.7442 15.8705 8.05861C15.8705 12.373 12.3729 15.8706 8.05852 15.8706C3.74411 15.8706 0.246582 12.373 0.246582 8.05861Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5214 12.5214C12.8143 12.2285 13.2892 12.2285 13.5821 12.5214L17.5337 16.473C17.8266 16.7659 17.8266 17.2408 17.5337 17.5337C17.2408 17.8266 16.766 17.8266 16.4731 17.5337L12.5214 13.582C12.2285 13.2891 12.2285 12.8143 12.5214 12.5214Z' fill='%23282828'/%3E%3C/svg%3E%0A");
}

.icon-user{
  width: 18px;
  height: 19px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.25 17.25C0.25 14.4886 2.48858 12.25 5.25 12.25H12.75C15.5114 12.25 17.75 14.4886 17.75 17.25V18C17.75 18.4142 17.4142 18.75 17 18.75C16.5858 18.75 16.25 18.4142 16.25 18V17.25C16.25 15.317 14.683 13.75 12.75 13.75H5.25C3.317 13.75 1.75 15.317 1.75 17.25V18C1.75 18.4142 1.41421 18.75 1 18.75C0.585786 18.75 0.25 18.4142 0.25 18V17.25Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1.75C7.20507 1.75 5.75 3.20507 5.75 5C5.75 6.79493 7.20507 8.25 9 8.25C10.7949 8.25 12.25 6.79493 12.25 5C12.25 3.20507 10.7949 1.75 9 1.75ZM4.25 5C4.25 2.37665 6.37665 0.25 9 0.25C11.6234 0.25 13.75 2.37665 13.75 5C13.75 7.62335 11.6234 9.75 9 9.75C6.37665 9.75 4.25 7.62335 4.25 5Z' fill='%23282828'/%3E%3C/svg%3E%0A");
}

.icon-basket{
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.54133 3.27781C2.68374 3.10208 2.89784 3 3.12403 3H15.75C16.8893 3 17.7239 4.06984 17.4476 5.1749L16.0996 10.5669C15.8179 11.6925 14.8609 12.5207 13.7057 12.6363L6.8897 13.3183C5.49376 13.457 4.2157 12.5242 3.92531 11.1514L2.39031 3.90543C2.34344 3.68415 2.39893 3.45354 2.54133 3.27781ZM4.04955 4.5L5.39275 10.8406C5.52445 11.4635 6.10459 11.8887 6.74036 11.8257L13.5564 11.1437C14.0811 11.0913 14.5161 10.7154 14.6444 10.2031L15.9924 4.8111C16.0322 4.65216 15.9128 4.5 15.75 4.5H4.04955Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0.75C0 0.335786 0.335786 0 0.75 0H2.474C2.82701 0 3.13224 0.246177 3.20699 0.591185L3.85699 3.59118C3.9447 3.99601 3.68764 4.39528 3.28282 4.48299C2.87799 4.5707 2.47872 4.31364 2.39101 3.90882L1.8691 1.5H0.75C0.335786 1.5 0 1.16421 0 0.75Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.83301 16.383C4.83089 15.763 5.3347 15.267 5.94703 15.267C6.56424 15.267 7.06403 15.7668 7.06403 16.384C7.06403 17.0002 6.56424 17.5 5.94803 17.5C5.33702 17.5 4.83092 17.0053 4.83301 16.383Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.25 16.383C12.2479 15.763 12.7517 15.267 13.364 15.267C13.9812 15.267 14.481 15.7668 14.481 16.384C14.481 17.0002 13.9812 17.5 13.365 17.5C12.754 17.5 12.2479 17.0053 12.25 16.383Z' fill='%23282828'/%3E%3C/svg%3E%0A");
}

.icon-location{
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.3575 0.361646C13.7628 -0.159202 15.1313 1.20931 14.6105 2.61455L10.5484 13.5736C9.94894 15.1885 7.62315 15.061 7.20378 13.3905L6.07978 8.90184L1.57547 7.77029C-0.0943909 7.35064 -0.221232 5.02607 1.3932 4.42678L12.3575 0.361646ZM9.14208 13.0519L13.204 2.09324C13.2791 1.8905 13.0817 1.69304 12.8789 1.76812C12.8789 1.76813 12.879 1.76811 12.8789 1.76812L1.91521 5.83301C1.91517 5.83303 1.91525 5.833 1.91521 5.83301C1.68179 5.91978 1.7009 6.25511 1.94094 6.3155C1.94091 6.31549 1.94096 6.3155 1.94094 6.3155L6.88094 7.5565C7.14918 7.62388 7.35856 7.83342 7.42574 8.10171L8.65863 13.0253C8.71926 13.2668 9.05559 13.2849 9.14208 13.0519Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.3575 0.361646C13.7628 -0.159202 15.1313 1.20931 14.6105 2.61455L10.5484 13.5736C9.94894 15.1885 7.62315 15.061 7.20378 13.3905L6.07978 8.90184L1.57547 7.77029C-0.0943909 7.35064 -0.221232 5.02607 1.3932 4.42678L12.3575 0.361646ZM9.14208 13.0519L13.204 2.09324C13.2791 1.8905 13.0817 1.69304 12.8789 1.76812C12.8789 1.76813 12.879 1.76811 12.8789 1.76812L1.91521 5.83301C1.91517 5.83303 1.91525 5.833 1.91521 5.83301C1.68179 5.91978 1.7009 6.25511 1.94094 6.3155C1.94091 6.31549 1.94096 6.3155 1.94094 6.3155L6.88094 7.5565C7.14918 7.62388 7.35856 7.83342 7.42574 8.10171L8.65863 13.0253C8.71926 13.2668 9.05559 13.2849 9.14208 13.0519Z' fill='%23282828'/%3E%3C/svg%3E%0A");
}
.icon-phone{
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4167 17.1668C12.1667 17.1668 12 17.1668 11.75 17.0835C9.33336 16.5835 6.91669 15.2502 4.83336 13.1668C2.75003 11.0835 1.41669 8.66683 0.916695 6.25016C0.750028 5.16683 1.08336 4.0835 1.83336 3.3335L2.33336 2.75016C3.25003 1.8335 4.66669 1.8335 5.58336 2.75016L6.58336 3.75016C7.33336 4.50016 7.25003 5.66683 6.50003 6.41683L5.83336 7.16683C6.33336 8.25016 7.00003 9.25016 7.91669 10.1668C8.83336 11.0835 9.83336 11.7502 10.9167 12.2502L11.6667 11.5002C12.3334 10.8335 13.5834 10.7502 14.3334 11.5002L15.3334 12.5002C16.25 13.4168 16.25 14.8335 15.3334 15.7502L14.75 16.3335C14.0834 16.8335 13.25 17.1668 12.4167 17.1668ZM4.00003 3.3335C3.75003 3.3335 3.50003 3.41683 3.25003 3.66683L2.66669 4.16683C2.25003 4.66683 2.00003 5.3335 2.16669 6.00016C2.58336 8.16683 3.83336 10.4168 5.75003 12.2502C7.66669 14.1668 9.83336 15.4168 12 15.8335C12.6667 16.0002 13.3334 15.7502 13.8334 15.3335L14.4167 14.7502C14.8334 14.3335 14.8334 13.6668 14.4167 13.2502L13.4167 12.3335C13.1667 12.0835 12.75 12.0835 12.5 12.3335L11.75 13.0835C11.4167 13.4168 10.8334 13.5835 10.4167 13.3335C9.16669 12.8335 8.00003 12.0002 7.00003 11.0002C6.00003 10.0002 5.16669 8.8335 4.66669 7.66683C4.50003 7.16683 4.58336 6.5835 4.91669 6.25016L5.58336 5.5835C5.91669 5.25016 5.91669 4.8335 5.66669 4.5835L4.75003 3.66683C4.50003 3.41683 4.25003 3.3335 4.00003 3.3335Z' fill='%23282828'/%3E%3Cpath d='M12.25 6.41683C12.0834 6.41683 11.9167 6.3335 11.8334 6.25016C11.3334 5.75016 10.6667 5.50016 9.91669 5.50016C9.91669 5.50016 9.91669 5.50016 9.83336 5.50016C9.50003 5.50016 9.25003 5.25016 9.16669 4.91683C9.16669 4.5835 9.41669 4.25016 9.75003 4.25016C10.8334 4.25016 11.8334 4.66683 12.5834 5.41683C12.8334 5.66683 12.8334 6.0835 12.5834 6.3335C12.5 6.3335 12.3334 6.41683 12.25 6.41683Z' fill='%23282828'/%3E%3Cpath d='M14.5834 4.0835C14.4167 4.0835 14.25 4.00016 14.1667 3.91683C13 2.75016 11.5 2.16683 9.83336 2.16683C9.50003 2.16683 9.16669 1.91683 9.16669 1.50016C9.16669 1.0835 9.41669 0.833496 9.83336 0.833496C11.75 0.833496 13.6667 1.5835 15 3.00016C15.25 3.25016 15.25 3.66683 15 3.91683C14.9167 4.00016 14.75 4.0835 14.5834 4.0835Z' fill='%23282828'/%3E%3Cpath d='M13.1667 8.8335C12.8334 8.8335 12.5 8.5835 12.5 8.16683C12.5 7.41683 12.25 6.75016 11.75 6.25016C11.5 6.00016 11.5 5.5835 11.75 5.3335C12 5.0835 12.4167 5.0835 12.6667 5.3335C13.4167 6.0835 13.8334 7.0835 13.8334 8.16683C13.8334 8.50016 13.5 8.8335 13.1667 8.8335Z' fill='%23282828'/%3E%3Cpath d='M16.5 8.8335C16.1667 8.8335 15.8334 8.5835 15.8334 8.16683C15.8334 6.5835 15.1667 5.00016 14.0834 3.8335C13.8334 3.5835 13.8334 3.16683 14.0834 2.91683C14.3334 2.66683 14.75 2.66683 15 2.91683C16.4167 4.3335 17.1667 6.16683 17.1667 8.0835C17.1667 8.50016 16.9167 8.8335 16.5 8.8335Z' fill='%23282828'/%3E%3C/svg%3E%0A");
}

.icon-email{
  width: 20px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.85963 5.35545C5.07701 5.00286 5.53906 4.89326 5.89165 5.11064L8.81834 6.91503C9.54275 7.36165 10.4571 7.36165 11.1815 6.91503L14.1082 5.11064C14.4608 4.89326 14.9228 5.00286 15.1402 5.35545C15.3576 5.70804 15.248 6.17009 14.8954 6.38747L11.9687 8.19186C10.7617 8.93604 9.23818 8.93604 8.03113 8.19186L5.10444 6.38747C4.75186 6.17009 4.64225 5.70804 4.85963 5.35545Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.246338 3.99707C0.246338 1.926 1.92527 0.24707 3.99634 0.24707H16.0038C18.0749 0.24707 19.7538 1.926 19.7538 3.99707V12.0029C19.7538 14.074 18.0749 15.7529 16.0038 15.7529H3.99634C1.92527 15.7529 0.246338 14.074 0.246338 12.0029V3.99707ZM3.99634 1.74707C2.7537 1.74707 1.74634 2.75443 1.74634 3.99707V12.0029C1.74634 13.2455 2.7537 14.2529 3.99634 14.2529H16.0038C17.2465 14.2529 18.2538 13.2455 18.2538 12.0029V3.99707C18.2538 2.75443 17.2465 1.74707 16.0038 1.74707H3.99634Z' fill='%23282828'/%3E%3C/svg%3E%0A");
}

.icon-whatsapp{
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.567913 9.91949C0.569223 4.70028 4.81614 0.456055 10.0369 0.456055C12.5677 0.45714 14.9478 1.44415 16.7344 3.23189C18.5208 5.02046 19.506 7.40032 19.5049 9.92738C19.5027 15.1464 15.2561 19.3921 10.0369 19.3921H10.0329C8.55241 19.3921 7.09489 19.0446 5.77537 18.3802L1.43415 19.5185C1.17494 19.5865 0.899151 19.511 0.710699 19.3205C0.522247 19.13 0.449764 18.8534 0.520559 18.5949L1.6769 14.3734C0.947475 13.0037 0.565948 11.474 0.567913 9.91949ZM10.0366 1.95605C5.64365 1.95623 2.06883 5.52972 2.06791 9.92021C2.06609 11.3174 2.43253 12.6917 3.13064 13.9024C3.23065 14.0759 3.25716 14.2821 3.20427 14.4752L2.31053 17.738L5.67568 16.8556C5.86041 16.8071 6.05666 16.831 6.2244 16.9223C7.39358 17.5585 8.70237 17.8921 10.0329 17.8921H10.0369C14.4278 17.8921 18.0031 14.3177 18.0049 9.92673C18.0058 7.79779 17.1789 5.79949 15.6733 4.29206C14.168 2.78597 12.1696 1.95705 10.0366 1.95605Z' fill='%23282828'/%3E%3Cpath d='M7.03432 6.35038C7.18492 6.19978 7.42713 6.22452 7.54392 6.39178C7.78736 6.74242 8.05029 7.11976 8.34447 7.53745C8.44038 7.67435 8.42133 7.85946 8.3107 7.97069L7.9077 8.37669C7.61589 8.67067 7.61765 9.14554 7.91163 9.43735C8.20561 9.72915 8.68048 9.72739 8.97228 9.43341L9.37528 9.02741C10.0061 8.39271 10.0794 7.39785 9.57174 6.675L9.57116 6.67418C9.27948 6.26005 9.01818 5.88505 8.77571 5.53582C8.12036 4.59354 6.7789 4.48448 5.97366 5.28972L5.62042 5.64296C5.61804 5.64529 5.61568 5.64763 5.61333 5.65C4.59877 6.66937 4.58984 8.00583 5.02013 9.21596C5.44555 10.4124 6.31566 11.5954 7.34154 12.6218C7.63436 12.9148 8.12514 12.9374 8.41811 12.6445C8.71108 12.3517 8.70122 11.8604 8.4084 11.5674C7.46928 10.6278 6.75678 9.62275 6.43344 8.71342C6.11608 7.82088 6.21636 7.17421 6.67178 6.7129L6.67532 6.70938L7.03432 6.35038Z' fill='%23282828'/%3E%3Cpath d='M13.6153 12.9965C13.7676 12.8477 13.7457 12.6052 13.5799 12.4865C13.2321 12.2389 12.8579 11.9716 12.4437 11.6725C12.3079 11.575 12.1226 11.5919 12.0101 11.7012L11.5994 12.0994C11.302 12.3877 10.8272 12.3804 10.5388 12.083C10.2505 11.7856 10.2579 11.3108 10.5553 11.0224L10.966 10.6242C11.6081 10.001 12.6037 9.93933 13.3205 10.4555L13.3213 10.4561C13.732 10.7526 14.1039 11.0183 14.4503 11.2649C15.3848 11.9313 15.478 13.2739 14.6634 14.0696L14.306 14.4187C14.3037 14.421 14.3013 14.4234 14.2989 14.4257C13.2676 15.4282 11.9312 15.4214 10.7262 14.9769C9.53486 14.5374 8.35579 13.6597 7.34154 12.6218C7.05204 12.3256 7.04159 11.8283 7.33784 11.5388C7.63408 11.2493 8.1189 11.2712 8.4084 11.5674C9.33689 12.5176 10.3399 13.2356 11.2453 13.5696C12.1341 13.8974 12.7819 13.8048 13.2485 13.3548L13.2521 13.3513L13.6153 12.9965Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.03823 8.27169C8.38803 8.04985 8.85144 8.15358 9.07328 8.50338C9.35823 8.95268 9.73072 9.40821 10.1602 9.83772L10.1622 9.83972C10.5918 10.2692 11.0473 10.6417 11.4966 10.9267C11.8464 11.1485 11.9501 11.6119 11.7283 11.9617C11.5064 12.3115 11.043 12.4153 10.6932 12.1934C10.1365 11.8404 9.59606 11.3949 9.10158 10.9004L9.09958 10.8984C8.6051 10.4039 8.1596 9.86343 7.80654 9.30673C7.5847 8.95693 7.68843 8.49353 8.03823 8.27169Z' fill='%23282828'/%3E%3C/svg%3E%0A");
}

.icon-telegram{
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%2326A4E3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.84295 15.4315C11.5073 13.3994 14.6176 12.0596 16.1738 11.4123C20.6172 9.56418 21.5405 9.24314 22.1422 9.23253C22.2746 9.2302 22.5705 9.26301 22.7622 9.41856C22.9241 9.5499 22.9686 9.72733 22.99 9.85186C23.0113 9.97638 23.0378 10.2601 23.0167 10.4817C22.7759 13.0117 21.734 19.1513 21.204 21.9849C20.9797 23.1839 20.5381 23.5859 20.1105 23.6253C19.1814 23.7108 18.4758 23.0112 17.5759 22.4213C16.1677 21.4982 15.3721 20.9236 14.0052 20.0228C12.4255 18.9818 13.4496 18.4097 14.3499 17.4746C14.5855 17.2299 18.6793 13.5062 18.7586 13.1684C18.7685 13.1262 18.7777 12.9687 18.6841 12.8856C18.5906 12.8024 18.4525 12.8308 18.3528 12.8535C18.2116 12.8855 15.962 14.3724 11.6039 17.3142C10.9654 17.7527 10.387 17.9663 9.86881 17.9551C9.29752 17.9428 8.19861 17.6321 7.38167 17.3666C6.37967 17.0409 5.5833 16.8687 5.65265 16.3155C5.68877 16.0274 6.08553 15.7327 6.84295 15.4315Z' fill='white'/%3E%3C/svg%3E%0A"); 
}

.icon-vk{
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%230077FF'/%3E%3Cpath d='M17.2315 21.8333C11.3651 21.8333 7.80626 17.7634 7.6665 11H10.6379C10.7305 15.9686 12.9901 18.0738 14.7232 18.5069V11H17.5703V15.2877C19.2417 15.1024 20.991 13.1524 21.5793 11H24.3825C23.9332 13.6464 22.0286 15.5964 20.6831 16.4008C22.0302 17.0517 24.1964 18.7539 25.0325 21.8333H21.9522C21.3022 19.7752 19.7081 18.1811 17.5719 17.9641V21.8333H17.2315Z' fill='white'/%3E%3C/svg%3E");
}

.icon-dzen{
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_213_700)'%3E%3Cmask id='mask0_213_700' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='32' height='32'%3E%3Cpath d='M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16Z' fill='black'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_213_700)'%3E%3Cpath d='M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.5205 0C15.4399 6.48619 14.9972 10.1317 12.5645 12.5645C10.1317 14.9972 6.48619 15.4399 0 15.5205V16.4795C6.48619 16.5601 10.1318 17.0028 12.5645 19.4355C14.9972 21.8683 15.4399 25.5138 15.5205 32H16.4795C16.5601 25.5138 17.0028 21.8683 19.4355 19.4355C21.8683 17.0028 25.5138 16.5601 32 16.4795V15.5205C25.5138 15.4399 21.8683 14.9972 19.4355 12.5645C17.0028 10.1317 16.5601 6.48616 16.4795 0H15.5205Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_213_700'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.icon-yandex{
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_213_713)'%3E%3Cpath d='M12 23.3982C18.6278 23.3982 24 18.1888 24 11.7619C24 5.33494 18.6278 0.125488 12 0.125488C5.37225 0.125488 0 5.33494 0 11.7619C0 18.188 5.37225 23.3982 12 23.3982Z' fill='%23FA3E2C'/%3E%3Cpath d='M13.7078 6.77339H12.5625C10.599 6.77339 9.61727 7.75521 9.61727 9.22648C9.61727 10.8628 10.272 11.6803 11.7443 12.6614L12.8903 13.4796L9.61727 18.5501H6.99902L10.1078 13.9698C8.30777 12.6614 7.32602 11.5167 7.32602 9.39012C7.32602 6.77339 9.12602 4.97412 12.5625 4.97412H15.999V18.5501H13.7078V6.77339Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_213_713'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
}

.icon-mobile-menu{
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.956258 4.00002C0.956258 3.65484 1.23608 3.37502 1.58126 3.37502H12.4188C12.764 3.37502 13.0438 3.65484 13.0438 4.00002C13.0438 4.34519 12.764 4.62502 12.4188 4.62502H1.58126C1.23608 4.62502 0.956258 4.34519 0.956258 4.00002Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.956258 7.33472C0.956258 6.98954 1.23608 6.70972 1.58126 6.70972H12.4188C12.764 6.70972 13.0438 6.98954 13.0438 7.33472C13.0438 7.6799 12.764 7.95972 12.4188 7.95972H1.58126C1.23608 7.95972 0.956258 7.6799 0.956258 7.33472Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.956055 0.665283C0.956055 0.320105 1.23588 0.0402832 1.58105 0.0402832H12.4186C12.7638 0.0402832 13.0436 0.320105 13.0436 0.665283C13.0436 1.01046 12.7638 1.29028 12.4186 1.29028H1.58105C1.23588 1.29028 0.956055 1.01046 0.956055 0.665283Z' fill='%23282828'/%3E%3C/svg%3E ");;
}

.icon-location{
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.3575 0.361646C13.7628 -0.159202 15.1313 1.20931 14.6105 2.61455L10.5484 13.5736C9.94894 15.1885 7.62315 15.061 7.20378 13.3905L6.07978 8.90184L1.57547 7.77029C-0.0943909 7.35064 -0.221232 5.02607 1.3932 4.42678L12.3575 0.361646ZM9.14208 13.0519L13.204 2.09324C13.2791 1.8905 13.0817 1.69304 12.8789 1.76812C12.8789 1.76813 12.879 1.76811 12.8789 1.76812L1.91521 5.83301C1.91517 5.83303 1.91525 5.833 1.91521 5.83301C1.68179 5.91978 1.7009 6.25511 1.94094 6.3155C1.94091 6.31549 1.94096 6.3155 1.94094 6.3155L6.88094 7.5565C7.14918 7.62388 7.35856 7.83342 7.42574 8.10171L8.65863 13.0253C8.71926 13.2668 9.05559 13.2849 9.14208 13.0519Z' fill='%23282828'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.3575 0.361646C13.7628 -0.159202 15.1313 1.20931 14.6105 2.61455L10.5484 13.5736C9.94894 15.1885 7.62315 15.061 7.20378 13.3905L6.07978 8.90184L1.57547 7.77029C-0.0943909 7.35064 -0.221232 5.02607 1.3932 4.42678L12.3575 0.361646ZM9.14208 13.0519L13.204 2.09324C13.2791 1.8905 13.0817 1.69304 12.8789 1.76812C12.8789 1.76813 12.879 1.76811 12.8789 1.76812L1.91521 5.83301C1.91517 5.83303 1.91525 5.833 1.91521 5.83301C1.68179 5.91978 1.7009 6.25511 1.94094 6.3155C1.94091 6.31549 1.94096 6.3155 1.94094 6.3155L6.88094 7.5565C7.14918 7.62388 7.35856 7.83342 7.42574 8.10171L8.65863 13.0253C8.71926 13.2668 9.05559 13.2849 9.14208 13.0519Z' fill='%23282828'/%3E%3C/svg%3E%0A");
}
.icon-star {
  width: 22px;
  height: 21px;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1287 0.386085C10.3828 -0.128695 11.1169 -0.128695 11.371 0.386086L14.1562 6.02855C14.257 6.23278 14.4518 6.37441 14.6771 6.40735L20.9066 7.31788C21.4746 7.40089 21.7009 8.09901 21.2897 8.49949L16.7832 12.8888C16.6199 13.048 16.5453 13.2773 16.5838 13.5021L17.6472 19.7023C17.7443 20.2682 17.1503 20.6997 16.6421 20.4324L11.0723 17.5033C10.8705 17.3972 10.6293 17.3972 10.4275 17.5033L4.85765 20.4324C4.34948 20.6997 3.75547 20.2682 3.85253 19.7023L4.91592 13.5021C4.95448 13.2773 4.8799 13.048 4.71652 12.8888L0.210007 8.49949C-0.201165 8.09901 0.0251927 7.40089 0.593134 7.31788L6.82261 6.40735C7.04798 6.37441 7.24275 6.23278 7.34357 6.02855L10.1287 0.386085Z' fill='%23EEB83B'/%3E%3C/svg%3E%0A");
}

/* utils */

.flex{
  display: flex;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-end{
  justify-content: flex-end;
}
.justify-between{
  justify-content: space-between
}

.list-reset,
.list-reset li{
  list-style-type: none;
}

h1{
  font-size: 56px;
  @media (max-width: 1440px) {
    font-size: 44px;
  }
  @media (max-width: 1024px) {
    font-size: 36px;
  }
}
h2{
  font-size: 40px;
  @media (max-width: 1440px) {
    font-size: 36px;
  }
  @media (max-width: 1024px) {
    font-size: 28px;
  }
}

p{
  letter-spacing: 0.23px;
}

a{
  transition: color 0.3s;
  &:hover{
    color: var(--color-accent);
  }
}

.button{
  text-decoration: none;
  padding: 18px 56px;
  border-radius: var(--button-radius);
  font-size: 18px;
  letter-spacing: 0.2px;
  transition: all 0.2s;
  white-space: nowrap;
  @media (max-width: 1440px) {
    padding: 16px 56px;
    letter-spacing: 0.5px;
    font-size: 15px;
  }
  @media (max-width: 1024px) {
    padding: 16px 26px;
  }
  @media (max-width: 992px) {
    padding: 12px 26px;
    border-radius: 8px;
  }
  &--primary{
    background-color: var(--color-accent);
    color: var(--color-light);
    &:hover{
      background-color: var(--color-accent-hover);
      color: var(--color-light);

    }
  }
}

/* P A G E */


body{
  font-family: "Proxima Nova";
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-light);
  line-height: 1.5;
  overflow-x: hidden;
  max-width: 100vw;
}


.container{
  max-width: var(--container-width);
  margin-inline: auto;
  padding: 0 var(--size-base);
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s;

  &--scrolled {
    background-color: #F6F7F8;
  }
  &--hidden {
    top: -100%;
    transition: all 0.3s;
  }

  &__wrapper{
    display: flex;
    padding: 30px 0;
    @media (max-width: 1200px) {
      padding: 24px 0;
    }
    @media (max-width: 1024px) {
      padding: 16px 0;
    }
    @media (max-width: 769px) {
      padding: 12px 0 0;
    }
  }
  &__logo{
    &--desktop{
      @media (max-width: 1024px) {
        display: none;
      }      
    }
    &--mobile{
      display: none;
      @media (max-width: 1024px) {
        display: inline-flex;
      }
      @media (max-width: 769px) {
        max-width: 103px;
      }      
    }
  }
  &__right{
    gap: 22px;
    @media (max-width:1440px) {
      gap: 10px;
    }
  }
  &__nav{
    @media (max-width: 993px) {
      display: none;      
    }
    &.open {
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      opacity: 1;
      visibility: visible;
      z-index: 1;
      top: 30px;
      border-bottom: 1px solid var(--color-gray);
      background-color: var(--color-light);
      

      .header__menu{
        flex-direction: column;
        align-items: stretch;
        gap: 0;
      }
      .header__menu-link {
        display: block;
        font-size: 18px;
        padding: 5px 16px;
        transition: background-color 0.3s;
        &:hover{
          background-color: var(--card-background);
        }
      }
    }
  }
  &__menu{
    margin: -8px 0 0 0;
    list-style-type: none;
    gap: 42px;
    @media (max-width: 1440px) {
      gap: 24px;
    }

    &-link{
      text-decoration: none;
      color: var(--color-text);
      font-weight: 600;
      @media (max-width: 1440px) {
        font-size: 12px;
      }
    }
  }
  &__actions{
    gap: 24px;
    a{
      position: relative;
      padding: 10px;
    }
    @media (max-width:1440px) {
      gap: 12px;
      .icon{
        max-width: 16px;
      }
    }
    @media (max-width:769px) {
      gap: 4px;
    }
  }
  &__contacts{
    transform: translateY(-2px);
    @media (max-width:993px) {
      display: none;
    }
  }
  &__phone{
    color: var(--color-text);
    text-decoration: none;
    font-weight: 600;
    @media (max-width: 1440px) {
      font-size: 12px;
    }
  }
  &__cart-count{
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--color-accent);
    color: var(--color-light);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
  }
  &__mobile-menu{
    display: none;
    @media (max-width: 993px) {
      display: inline-flex;
      transform: translateY(-4px);
    }
  }
  &__smart{
    @media (max-width: 1024px) {
      display: none;
    }
  }
  @media (max-width: 576px) {
    background-color: #F6F7F8;
  }
}

.breadcrumbs{
  padding: 12px 0;
  &__list{
    margin: 0;
    @media(max-width: 993px){
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__item{
    font-size: 14px;
  }
  &__item:not(:first-child):before{
    content: '/';
    display: inline-flex;
    margin: 0 7px;
  }
  &__link{
    color: var(--color-text);
    text-decoration: none;
  }
  &__current{
    color: #838B8E;
  }
}

.intro{
  padding: 10px 0 40px;
    @media (max-width: 1024px) {
      padding: 10px 0;
    }
  &__row{
    gap: 36px;
    @media (max-width: 1024px) {
      gap: 24px;
    }
  }
  &__title{
    margin: 8px 0;
  }
  &__text{
    letter-spacing: .23px;
  }
  &__map {
    min-width: 808px;
    height: 440px;
    overflow: hidden;
    #map{
      width: 100%;
      height: 100%;
    }
    @media (max-width:1440px) {
      height: 375px;
    }
    @media (max-width:768px) {
      height: 175px;
    }
  }
  @media (993px < width < 1440px) {
    &__article,
    &__map{
      flex-basis: calc(50% - 18px);
      min-width: calc(50% - 18px);
    }
  }
  @media (max-width:992px) {
    &__row {
      flex-direction: column-reverse;
    }
  }
}

.showroom{
  padding: 40px 0;
  @media (max-width: 1024px) {
    padding: 20px 0;
  }
  &-card__row{
    gap: 36px;
    @media (1024px < width < 1440px) {
      flex-direction: column;
    }
    @media (768px < width < 1024px) {
      flex-direction: row;
    }
    @media (width < 768px) {
      flex-direction: column;
    }
  }
  &-card__title{

  }
  &-card__info,
  &-card__collections{
    flex-basis: calc(50% - 15px);
  }
  &-card__info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    p{
      margin: 0;
      span{
        color: var(--color-gray);
      }
    }
    a{
      font-weight: 600;
      text-decoration: none;
      color: var(--color-text);
      &:hover{
        color: var(--color-accent);
      }
    }
  }
  &-card{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &-card__hours{
    padding-bottom: 15px;
  }
  &-card__subtitle{
    font-size: 22px;
    letter-spacing: -0.2px;
  }
  &-card__list{
    line-height: 1.8;
  }
  &-card__item{
    display: inline-block;
    margin-right: 10px;
    line-height: 1;
    font-weight: 600;
    a{
      color: var(--color-text);
      text-decoration: none;
      &:hover{
        color: var(--color-accent);
      }
    }

  }
  &-card__gallery{
    padding: 8px 0 24px;
    gap: 32px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    width: 100%;
  }
  &-card__gallery-item{
    flex: 0 0 auto;
    width: 324px;
    overflow: hidden;
    border-radius: var(--button-radius);
    @media (max-width: 1440px) {
      width: 422px;
    }
    @media (max-width: 1024px) {
      width: 302px;
    }
    @media (max-width: 768px) {
      width: 280px;
    }
  }
  &-card__gallery-link{
    cursor: pointer;
    &:hover{
      .showroom-card__image{
        transform: scale(1.2);
      }
    }
  }
  &-card__action{
    text-align: center;
  }
  &-card__image{
    border-radius: var(--button-radius);
    width: 100%;
    aspect-ratio: 100 / 67;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform 0.2s;
  }
  &-card__tag{
    font-size: 14px;
    font-weight: 600;
    color: var(--color-light);
    background-color: var(--color-secondary);
    border-radius: 10px;
    padding: 1px 8px;
    margin-left: 5px;
    transform: translateY(-8px);
    display: inline-flex;
  }
}

.showroom-card__gallery::-webkit-scrollbar {
  height: 6px;
}

.showroom-card__gallery::-webkit-scrollbar-track {
  background-color: var(--color-light);
  border-radius: 4px;
}

.showroom-card__gallery::-webkit-scrollbar-thumb {
  background-color: #CED3D9;
  border-radius: 6px;
}


.divider{
  height: 1px;
  background-color: var(--color-divider);
  max-width: calc(var(--container-width) - 32px);
  margin-inline: auto;
  margin-block: 46px;
  padding: 0 var(--size-base);
  @media (max-width: 1024px) {
    margin-block: 18px;
  }
}

.advantages{
  padding: 119px 0;
  text-align: center;
  @media (max-width: 1024px) {
    padding: 30px 0;
  }

  &__list{
    gap: 32px;
    flex-wrap: wrap;
    @media (max-width: 1024px) {
      gap: 16px;
    }
  }
  &__item{
    flex: 1 1 208px;    
    background-color: var(--card-background);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 32px auto;
    justify-content: center;
    align-items: center;
    padding: 27px 32px 14px;
    font-size: 18px;
    font-weight: 600;
    grid-gap: 8px;
    line-height: 1.4;
    min-height: 128px;
  }
  &__title{
    align-self: baseline;
  }
}

.appointment{
  margin: 24px 0;
  &-form{
    padding: 40px;
    background-color: var(--form-background);
    border-radius: var(--button-radius);
    @media (max-width: 1440px) {
      padding: 30px;
    }
    @media (max-width: 993px) {
      padding: 20px;
    }
    &__title{
      text-align: center;
      font-size: 47px;
      letter-spacing: 0.5px;
      margin-bottom: 44px;
      line-height: 1.2;
      @media (max-width: 1440px) {
        font-size: 39px;
        margin-bottom: 39px;
      }
      @media (max-width: 993px) {
        font-size: 31px;
        margin-bottom: 22px;
      }
    }
    &__form{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-inline: auto;
      max-width: 600px;
      grid-gap: 22px;
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }

    @media (min-width: 769px) {
      &__field:nth-child(1),
      &__action,
      &__policy{
        grid-column: 1 / 3;
      }      
    }

    input{
      width: 100%;
      background-color: var(--color-light);
      line-height: 1;
      border-radius: 8px;
      padding: 0 16px;
      height: 58px;
      border-width: 0;
      border-color: transparent;
      font-size: 15px;
      letter-spacing: 0.45px;

      @media (max-width: 992px) {
        border-radius: 8px;
        padding: 0 16px;
        height: 46px;
        font-size: 13px;
      }
    }
    &__action,
    &__policy {
      text-align: center;
    }
    &__action{
      .button{
        @media (max-width: 576px) {
          width: 100%;
        }
      }
    }
    &__policy{
      font-size: 13px;
      line-height: 1.2;
      margin: -10px 0 5px;
      letter-spacing: .55px;
    }
  }
}
.main{
  padding-bottom: 90px;
  @media (max-width: 1024px) {
    padding-bottom: 20px;
  }
}
.footer{
  border-top: 1px solid var(--color-divider);
  padding: 40px 0;
  &__wrapper{
    padding-bottom: 30px;
  }
  &__columns{    
    justify-content: space-between;
    gap: 24px;

  }
  &__title{
    font-size: 20px;
    font-weight: 600;
  }
  &__menu{
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: 17px;
    &--large{
      display: block;      
      columns: auto auto;
      column-gap: 50px;
      .footer__menu-item{
        display: inline-block;
        width: calc(50% - 25px);
        margin-bottom: 17px;
        padding-right: 27px;
        @media (max-width: 993px) {
          width: calc(100% - 25px);
        }
      }

    }
  }
  &__menu-link{
    color: var(--color-text);
    text-decoration: none;
    font-size: 14px;
  }
  @media (min-width: 1025px) {
    &__column:nth-child(1) {
      flex-basis: 14%;
    }
    &__column:nth-child(2) {
      flex-basis: 45%;
    }
    &__column:nth-child(3) {
      flex-basis: 14%;
    }
    &__column:nth-child(4) {
      flex-basis: 18%;
    }
  }
  @media (max-width: 1024px) {
    &__column:nth-child(1),
    &__column:nth-child(2),
    &__column:nth-child(3),
    &__column:nth-child(4) {
      flex-basis: 100%;
    }
  }

  &__phone{
    font-size: 18px;
    font-weight: 600;
  }
  &__city{
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px 0 30px;
  }
  &__contacts{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    a{
      display: flex;
      gap: 9px;
      align-items: center;
      color: var(--color-text);
      text-decoration: none;
      font-weight: 600;
      &:hover{
        color: var(--color-accent);
      }
    }
  }
  &__title--contacts{
    margin-bottom: 12px;
  }
  &__social{
    .footer__title{
      margin-bottom: 14px;
    }
    &-links{
      display: flex;
      gap: 10px;
    }
  }
  &__bottom{
    border-top: 1px solid #CED3D9;
    padding: 30px 0;
    .flex{
      gap: 30px;
    }
    @media (max-width: 1024px) {
      padding: 20px 0;
      .flex{
        flex-direction: column;
        align-items: flex-start;
      }      
    }
  }
  &__policy{
    padding: 30px 0;
    font-size: 12px;
  }
  &__rating{
    display: grid;
    grid-column-gap: 7px;
    grid-row-gap: 2px;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    grid-template-areas:
      "logo score rating"
      "rtext rtext rtext";
    .icon-yandex{
      grid-area: logo;
    }
    .footer__rating-score{
      grid-area: score;
      font-size: 28px;
      font-weight: 700;
    }
    .footer__rating-stars{
      grid-area: rating;
      display: flex;
      align-items: center;
      align-self: baseline;
      padding-top: 8px;
    }
    .footer__rating-text{
      grid-area: rtext;
      font-size: 12px;
    }
  }
  &__columns{
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  &__copyright,
  &__rights{
    font-size: 14px;
  }
  &__rights{
    margin: 0;
  }
}